{% extends 'catalog/base.html' %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="row justify-content-center">
        <div class="col-6"></div>
        <div class="col-2">
            <h3>Категории</h3>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for category in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-text">{{ category.name }}</h3>
                        <p class="card-text">{{ category.description|truncatechars:100 }}</p>
                        {% if user.is_authenticated %}
                        <div class="btn-group mt-2">
                            <a class="btn btn-primary"
                               href="{% url 'catalog:products_by_category' category.pk %}" role="button">Список
                                товаров</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}