{% extends 'catalog/base.html' %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Продукты</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for product in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ product.names }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.image.url }}" class="img-fluid" style="height: 180px;">
                <h1 class="card-title pricing-card-title">{{ product.price }} руб. за кг.</h1>
                <p>Описание: {{ product.description|truncatechars:100 }}</p>
                <a class="btn btn-primary  " href="{% url 'catalog:product_detail' product.pk %}" role="button">Купить</a>
                 {% if product.owner == user %}
                <a class="btn btn-primary  " href="{% url 'catalog:product_edit' product.pk %}" role="button">Редоктировать</a>
                {% endif %}
                {% if product.owner == user or 'catalog.product_delete' in perms %}
                <a class="btn btn-primary  " href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

